 body {
    background-color: rgb(80, 80, 88);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: yellow;
 }

 p {
   color: rgb(23, 23, 160);
 }


