@charset "UTF-8";

body {
    /* background-image: linear-gradient(to right, rgb(15, 15, 233), lightblue); */
    background-color: rgb(10, 181, 238);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgb(231, 198, 198);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.164);
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
}

footer p > a {
    text-decoration: none;
    color: white;
}

footer p a:hover {
    text-decoration: underline;
    color: blue;
}